{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>Register for CineCube</h1>
    {% if registered %}
    <p>Thank you for registering!</p>
    {% else %}
    <strong>Please register:</strong>
    <form id="user_form" method="post" action="{% url 'user:register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register"/>
    </form>
    {% endif %}
{% endblock %}
