{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    All the categories are listed here!
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/movies_style.css' %}"/>
{% endblock %}

{% block body_block %}
    <h1>Category Navigation</h1>
    <div>
        {% if list %}
            <h3><i>Pick one you like!</i></h3>
            <table>
                {% for genre_item in list %}
                    <tr>
                        <td><a href="/movies/category/{{ genre_item.slug }}">{{ genre_item.genre }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <strong>There are no movies present.</strong>
        {% endif %}
    </div>
{% endblock %}