<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
        <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/movies_style.css' %}"/>
     <!--css-->
    {% block styles %}
    {% endblock %}
    <!--js-->
    {% block scripts %}
    {% endblock %}
    </style>
        <title>
            Movies -
            {% block title_block %}
                Get the latest information about currently playing movies!
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                <li><a href="{% url 'movies:index' %}">Index</a></li>
                <li><a href="{% url 'userprofile:login' %}">Login</a></li>
                <li><a href="{% url 'userprofile:register' %}">Register</a></li>
            </ul>
        </div>
    </body>

</html>