{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1>Welcome to <i class="text-primary fw-bolder">CineCube</i>!</h1>
    <h2>You can book the ticket of those now-playing movies:</h2>
    {% if now_playing %}
    <div class="container m-0 p-3">
        <div class="row">
            {% for movie in now_playing %}
                <div class="col text-center">
                    <a href='/movies/{{ movie.slug }}/'><img src={{ movie.poster_path }} alt={{ movie.name }} width="200" height="300"></a>
                    <br/>
                    <a href='/movies/{{ movie.slug }}/'>{{ movie.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <strong>There are no movies present.</strong>
    {% endif %}
    <a class="row" href='/movies/movie_list/'><i class="text-end fs-4 fw-bolder">More movies</i></a>
{% endblock %}