{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    All the movies are listed here!
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/movies_style.css' %}"/>
{% endblock %}

{% block body_block %}
    <h1><i class="fa-solid fa-film"></i>  All Movies</h1>
    <div>
        {% if list %}
            <ul>
                {% for movie in list %}
                    <div class="gallery">
                        <a href='/movies/{{ movie.slug }}/'><img src={{ movie.poster_path }} alt={{ movie.name }} width="200" height="300"></a>
                        <br/>
                        <a href='/movies/{{ movie.slug }}/'>{{ movie.name }}</a>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no movies present.</strong>
        {% endif %}
    </div>
{% endblock %}