{% extends 'movies/user_base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/register.js' %}"></script>
    <script src="{% static 'js/ajax_post_csrf.js' %}"></script>
{% endblock %}

{% block body_block %}
 <div class="content">
            <div class="register">
                <form method="post" action={% url 'userprofile:register' %}>
                    {% csrf_token %}
                    <div class="register-top-grid">
                        <h3>Personal information</h3>
                        <div>
                            <span>username<label>*</label></span>
                            <input type="text" name="nickname" id="nickname">
                            <div class="alert alert-info" role="alert" id="nickerror1" style="width: 499px">Incorrectly entered nickname format</div>
                            <div class="alert alert-info" role="alert" id="nickerror2" style="width: 499px">Nickname has been taken, please re-enter</div>
                        </div>
                        <div>
                            <span>email<label>*</label></span>
                            <input type="text" name="email" id="email">
                            <div class="alert alert-info" role="alert" id="emailerror1" style="width: 499px">Email format input error</div>
                            <div class="alert alert-info" role="alert" id="emailerror2" style="width: 499px">Email has been taken, please re-enter</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="register-bottom-grid">
                        <h3>Login Information</h3>
                        <div>
                            <span>Password<label>*</label></span>
                            <input type="password" name="password" id="password" placeholder="Password length of 6 to 16 characters">
                            <div class="alert alert-info" role="alert" id="passworderror1" style="width: 499px">Incorrectly entered password format</div>
                        </div>
                        <div>
                            <span>Confirm Password<label>*</label></span>
                            <input type="password" name="repassword" id="repassword" placeholder="Password length of 6 to 16 characters">
                            <div class="alert alert-info" role="alert" id="passworderror2" style="width: 499px">Two different password entries</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="register-but">
                            <input type="submit" value="Register Now" class="sbt" style="background: #df1f26;color: #FFF;font-size: 1em;padding: 7px 20px;border: none;">
                            <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}