{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
   Book
{% endblock %}

{% block body_block %}
    <h1>{{ title }}</h1>

    
    {% if error %}
        <h1 style="color: red;">There was an error submitting the booking. Please try again.</h1>
        <button name="button" type="submit" onclick="location.href='{% url "booking:book" movie_id %}'">Go Back</button>
    {% else %}
        <div>
            <h2>Booking Confirmed</h2>
            <h3>Your booking for {{movie.name}} at {{time}} on {{date}}</h3>
            <button name="button" type="submit" onclick="location.href='{% url "movies:index"%}'">Go Home</button>
        </div>
    {% endif %}
{% endblock %}