{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
   My Bookings
{% endblock %}

{% block body_block %}
  
    <div>
        {% if error %}
            <h1>You currently have no bookings.</h1>
        {% else %}
            <h1><i class="fa-solid fa-ticket"></i>  Your Booking</h1>
            <ul class="list-group">
                {% for booking,movie in movie_booking %}
                    <li class="list-group-item p-3 m-2 fs-5">
                        <i class="fa-solid fa-ticket"></i> #{{ booking.booking_id }}
                        <br>
                        Movie: <strong>{{ movie.name }}</strong>
                        <br>
                        Date: {{ booking.date }}
                        <span> --- </span>
                        Time: {{ booking.time }}
                        <span> --- </span>
                        Person: {{ booking.person }}

                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <button name="button" type="submit" onclick="location.href='{% url "movies:index"%}'">Go Home</button>
    </div>

    
{% endblock %}