<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        {% block style %}
        {% endblock %}
        <title>
            CineCube -
            {% block title_block %}
                Book your ticket today!
            {% endblock %}
        </title>
    </head>
    <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold text-primary" style="font-size: 150%;" href="{% url 'index' %}">CineCube</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarItems">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'movies:movie_list' %}">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'movies:genre_list' %}">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact:contact' %}">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                  <li><a class="dropdown-item" href="{% url 'auth_password_change' %}">Change Password</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth_logout' %}? next={% url 'movies:index' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'registration_register' %}">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="m-4">
    {% block body_block %}
    {% endblock %}
    </div>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    </body>
</html>