<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        {% block style %}
        {% endblock %}
        <title>
            CineCube -
            {% block title_block %}
                Book your ticket today!
            {% endblock %}
        </title>

    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
        <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/movies_style.css' %}"/>
        <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    </head>
    <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold text-primary" style="font-size: 150%;" href="{% url 'index' %}">CineCube</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarItems">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'movies:movie_list' %}">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact:contact' %}">Contact</a>
            </li>
          </ul>
        {% if username %}
        <ul class="navbar-nav ms-auto">
             <li class="nav-item">
              <a class="nav-link" href="{% url 'user:quit' %}">quit</a>
            <li class="nav-item">
              <a class="nav-link">{{ username }}</a>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:register' %}">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:login' %}">Login</a>
            </li>
        {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="m-4">
    {% block body_block %}
    {% endblock %}
    </div>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    </body>
</html>